body {
  font: 18px sans-serif; 
  background-color: #DDD;
  font-family: Arial, Arial, Helvetica, sans-serif;
}

#svg {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 0%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
  z-index: -1;
}

#svg text {
  font-family: Arial, Arial, Helvetica, sans-serif;
}

.map {
  z-index: -1
}

.cities {
  z-index: 2
}

#svg {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
}

#options{
  position: absolute;
  left: 0px;
  top: 0px;
  padding:10px;
  z-index: 5;
  background-color:#DDD;
}

#options select{
  display:list-item;
}