body {
  font: 18px sans-serif; 
}

path {
  pointer-events: all;
  fill: none;
  stroke: #000;
  stroke-opacity: .4;
}

/* circle { */
  /* fill: rgb(75,75,75,.8); */
  /* stroke: rgb(0,0,0,1); */
/* } */

#svg{float:left;}

#options {float:left; margin-bottom: 100px;}

#options span {
  margin: 10px 0;
  float: left;
  clear: both;
}

input[type="radio"], 
input[type="checkbox"] {
  /* hide the inputs */
  opacity: 0;
}

input[type="radio"] + label, 
input[type="checkbox"] + label {
  /* keep pointer so that you get the little hand showing when you are on a button */
  cursor: pointer;
  /* the following are the styles */
  padding: 4px 10px;
  border: 1px solid #ccc;
  background: #efefef;
  color: #aaa;
  border-radius: 3px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0);
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label{
  /* style for the checked/selected state */
  background: #777;
  border: 1px solid #444;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
  color: white;
}


div.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px 10px 2px;
  background: #222;
  color: #EEE;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip .subtitle {
  font-size: 60%;
}